<h1>Log In</h1>

<%= render 'form' %>

<div class="omniauth-connect">
  <h1>OR</h1>
  <h3>Log in with</h3>
  <%= link_to image_tag("google_64.png"), '/auth/google_oauth2' %>
  <%= link_to image_tag("facebook_64.png"), '/auth/facebook' %>
</div>

